.wrapper {
  min-height: 100vh;
  height: 100%;

  .title {
    font-size: 72px;
    line-height: 74px;
    font-weight: 700;
  }
  .total {
    text-align: end;
    color: lightgray;
    width: 100%;
  }
  .catalog {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    &__options {
    }
  }
}

@media (max-width: 1024px) {
  .wrapper {
    .title {
      font-size: 48px;
      line-height: 50px;
    }

    .catalog {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 16px;
    }
  }
}

@media (max-width: 600px) {
  .wrapper {
    .title {
      font-size: 36px;
      line-height: 38px;
    }

    .catalog {
      grid-template-columns: 1fr;
      gap: 12px;
    }
  }
}
